*, *::after, *::before{
    box-sizing: border-box;
}
/*webfonts.pro  здесь можно скачать шрифы, чтобы можно ыбло их поключить локаоьно*/

/*единицы измерния делим на 10зч и поучаем в rem*/

/*сайт иконок icon-icons.com*/

html, body{
    color: #ffffff;
    font-size: 62.5%; /*сбрасываем нача значение щрифта на 10 px,все браузерв по умолчнаию имею размер шрифта 16px, 16px*0,625 = 10px = 1rem*/
    /*rem берет базовый размер шрифта, 1 rem=10px*/
    /* line-height: 2.4rem; */
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif; /*если Роботоне подключится значит подключаится шрифт без засечек sans-srrif*/
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}



img{
    width: 100%;
    height: 100%;
    object-fit: contain; /*чтобы изобр сохранляо попропорции*/
    flex-shrink: 0; /*чтобы не растягивалось изобр, тк  изоюражене включаемв  обертки*/
}

a{ 
    text-decoration: none;
    color: inherit; /*берет роди значение*/
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none; 
    padding: 0;
    margin: 0;
}

button, input{
    outline: none; /*чтобы при нажатии на них не ыбло рамок*/
    border: none;
    cursor: pointer;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6.7rem;

}



.container{ /*блок-центрвщик*/
    width: 130rem; /*1300px*/
    margin: 0 auto;
}


:root{ /*обращаетмся ков сему документу*/
    --text-size-medium: 1.6rem; /*название переменной text-size-medium сами придумали, перед переменной ставим --*/
}

.button{
    border-radius: 5rem;
    padding: 1rem 3rem;
    color:#ffffff;
    font-size: var(--text-size-medium);
    
}

.header {
    position: absolute;
    top: 0;
    left: 50%; /*чтобы выравнить по ветикали и по горизонтали */
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 100;
    padding-left: 8rem;
    padding-right: 11rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* background-image: url(../img/bgc2.jpeg);
    background-position: top center;
    background-size: 100% auto; */


}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: block;
    width: 4rem; /*40px, 1 rem = 10px*/
    height: 4rem;
}

.header__menu {
    display: flex;
    align-items: center;
    
}

.header__nav a:not(:last-child){ /*для всех крме послденего ы*/
    margin-right: 7.1rem;
    
}

.header__nav a{
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 2.4rem;
}


.header__button {
    margin-left: 55.3rem; 
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    font-weight: 700;
    font-size: var(--text-size-medium);;
    line-height: 2.4rem;
}

.main-display {
    padding-top: 27rem;

}

.main-display .container{
    position: relative;
    z-index: 100;
   
}


.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    font-style: bold;
    line-height: 9rem; 
}

.timer {
}

.main-display__timer {
    display: flex;
    margin-bottom: 7.6rem;
    

}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #121212;

    
}

.timer__item:not(:last-child){
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 5rem;

}

.timer__text {
    font-size: var(--text-size-medium);
    opacity: 0.4;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.2rem;

}


.main-display__button {

    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.main-display__background {
    position: absolute; /*относилеьно этго сдвтгаем header*/
    top: 0;
    left: 0;
    z-index: 1;
}

.work {
    padding-top: 20rem;
    padding-bottom: 20rem;
}


.work__wrap {
    display: flex;
    
}

.work__img {
    width: 52.6rem;
    height: 44.9rem;
    margin-right: 13.9rem;
}

.work__text {
    max-width: 63.3rem;
    padding-top: 6.9rem;
}


.work__header {
    margin-bottom: 4.5rem;

}

.work__description {
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 2.6rem;
}

.process {
    padding-bottom: 20rem;
}

.process__wrap {
}

.process__title {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    
}


.process .process__img {
    transform: rotate(45deg);
}

.process__img{
    width: 9rem;
    height: 4.5rem;
    margin-right: 2rem;
}


.process__header {
    
    
}

.process_description {
    max-width: 41.1rem;
    margin-bottom: 4.11rem;
    opacity: 0.5;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 2.6rem;

}

.process__columns {
    position: relative; /*чтобы позиуионировать относительно этого  горизон линиию*/
    display: grid;
    grid-template-columns: repeat(4, 30.6rem); 
    column-gap: 1.8rem; /*расстояние между колонами*/

}


.process__columns::after{ /*псевдоэдмнет горзиогтльгая черта*/
    content: "";
    display: block;
    position: absolute;
    top:7rem;
    left:50%;
    transform: translate(-50%,0);
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.process__item {
    
}

.process_work {
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5rem;
}

.process__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    opacity: 0.5;
}

.command {
   padding-bottom: 20rem;
}

.container {
}

.process__title {
    margin-bottom: 11.9rem;
}

.command__title {
}


.command__header {
    margin-bottom: 0;
}

.command__wrap{
    display: grid;
    grid-template-columns: repeat(3, 41.6rem);
    column-gap: 2.4rem;
    padding-left: 11rem;
    padding-right: 11rem;
}

.commnad__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.command__img{
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
}


.command__img img{
    object-fit: cover;
    border-radius: 50%;
}

.commnad__name {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.commnad__professional {
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 2.6rem;

}

.command__link {
    display: block;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

.assembly {
    padding-bottom: 25.6rem;
}

.container {
}

.assembly__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assembly__header {
    margin-bottom: 3rem;
  
}

.assembly__description {
    margin-bottom: 4.5rem;
    opacity: 0.5;
}

.assembly__button {
    margin-bottom: 4rem;
}

.assembly__socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.assembly__item {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    padding: 1.3rem;
    border-radius: 50%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    
}

.assembly__item:not(:last-child){ /*для всех кроме послденего элемента*/
    margin-right: 3rem;
}

.assembly__item img{
    width: 2.4rem;
    height: 2.4rem;
}


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /*если экран будет маленький, то чтоб скролл у модалки не появлялся*/
    overflow-y: auto; /*на маленьких экранах скролл будет, на больших нет*/
    z-index: 10; /*чтоб модалка поверх сего была*/ 
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__inner {
    width: 66.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 1rem;
    background-color: #2C2C2C;
    text-align: center;
}



.modal__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}



.modal__header {
    
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
   
}


.modal__subheader {
    margin-bottom: 2.8rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
}


.modal__elements {
    width: 47.4rem; /*ширина контента*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.modal__item { /*флекс элемет*/
    width: 45.4rem;
    height: 4.4rem;
    margin-bottom: 1.6rem;
    
}

.modal__input {
    width: 100%;
    height: 100%;
    padding: 1.1rem;
    border-radius: 50px;
    background: #FFFFFF;
    opacity: 0.25;
    font-size: 1.4rem;
    line-height: 160%;
    color: #020201;
    opacity: 0.8;
}

.modal__item:last-child{
   margin-bottom: 4rem;
}


.noscroll{ /*этот класс используем в скрипте*/
    overflow: hidden; /*чтобы не было сроклла*/
    height: 100%;
}



/*сетка*/
@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 80em) {
    html {
        font-size: 7.2px
    }
}

@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 34em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}

/*сетка*/